/**
 *
 * GENERAL
 * NAV BAR
 * SINGLE POST
 * SINGLE PRODUCT
 * SIDEBAR
 * FOOTER
 */


/*--------------------- GENERAL ----------------------*/
body {
	padding-top: 151px;
}

#sidebar ul {
	list-style: none;
	padding: 0;
}

.trans {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.btn-organge {
	background: #d22602;
	color: #fff;
	border-radius: 3px;
}

.btn-organge:hover,
.btn-organge:focus,
.btn-organge:active:focus {
	color: #fff;
	background: #C52402;
}

.title-section {
	font-weight: 600;
	font-size: 28px;
	color: #263247;
}

.bg-grey {
	background-color: #f6f6f6;
}

.bg-red {
	background-color: #d22602;
}

.line-title {
	border-top: 2px solid #b8b8b8;
	display: inline-block;
	width: 60px;
}

.w-breadcrumb {
	background-color: #f6f6f6;
}

.w-breadcrumb h1 {
	padding: 22px 0;
	color: #9f9f9f;
	font-weight: 600;
	font-size: 20px;
}

.container-flex {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	margin: 0 -15px;
	-webkit-align-items: center;
	align-items: center;
}

.col-flex {
	padding: 0 15px;
}

.col-flex-left {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -khtml-flex: 1;
    flex: 1;
}

.col-flex-right {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -khtml-flex: 1;
    flex: 1;
}

.lbl-blue {
	color: #0773bb;
	font-size: 20px;
	font-weight: 600;
}

.userpro-button.btn.btn-primary {
	background: #d22602 !important;
    color: #fff !important;
    border-radius: 3px !important;
    border: 1px solid !important;
}

.userpro-button.btn.btn-primary:hover {
    background: #C52402 !important;
}

.popup-login {
	font-size: 12px;
}

.mailto,
.mailto:hover {
	color: inherit;
}
/*--------------------- END GENERAL ----------------------*/







/*--------------------- NAV BAR ----------------------*/
.navbar-default {
	background: #fff;
}

.admin-bar .navbar-fixed-top {
	margin-top: 32px;
}

.navbar {
	border-bottom: 1px solid #e1e1e1;
}

.btn-search-top {
	float: right;
	display: none !important;
    padding: 40px 10px;
    background: none;
    border: 0;
}

.header-nav {
	position: relative;
}

#searchform {
	position: absolute;
	right: 0;
	top: 67%;
	z-index: 1;
	display: none;
}

#searchform.show {
	display: block;
}

#searchform.animated {
	-webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

.navbar-brand {
	padding: 0;
	position: relative;
	z-index: 1;
}

.navbar-brand img {
    width: 130px;
    padding: 10px 0;
}

.navbar-nav>li>a {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

.info-top {
	line-height: 50px;
	background: #0f1c35;
	color: #fff;
}

.info-top .right-info {
	display: inline-block;
	margin-right: 30px;
}

.info-top .right-info i {
	margin-right: 5px;
	color: #d22602;
}

.navbar-default .navbar-nav>.active>a {
	color: #d22602;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
	background: none;
}

.navbar {
	margin-bottom: 0;
	min-height: initial;
}

.left-info h1 {
	font-size: 13px;
	font-weight: bold;
	color: #fff;
    margin: 0;
    margin-top: 8px;
}

.col-info-right {
	font-size: 12px;
}

.shrink .navbar-brand img {
	width: 60px;
    padding: 7px 0;
}

.shrink.navbar {
	min-height: 80px;
}

.shrink .navbar-nav>li>a {
	padding-top: 15px;
    padding-bottom: 15px;
}

.shrink .navbar-brand {
	height: 50px;
}

.shrink .info-top {
	line-height: 40px;
}

.navbar,
.navbar-brand img,
.navbar-nav>li>a,
.navbar-brand,
.info-top {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
/*--------------------- END NAV BAR ----------------------*/





/*--------------------- OUR SERVICES ----------------------*/
.list-our-services {
	padding-left: 30px;
	margin-bottom: 30px;
}

.list-our-services li {
	margin-bottom: 15px;
}

.list-our-services li:before {
	display: inline-block;
    font-family: FontAwesome;
    font-size: 19px;
    line-height: 22px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    content: "\f058";
    position: absolute;
	left: 15px;
	color: #007edf;
	
}

.our-service-left,
.our-service-right {
	width: 50%;
	padding: 0 15px;
}
/*--------------------- END OUR SERVICES ----------------------*/






/*--------------------- PROJECTS GALLERY ----------------------*/
#filters-container {
	text-align: center;
	margin: 60px 0 60px 0;
}

.cbp-filter-item {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0 14px;
	cursor: pointer;
	line-height: 24px;
	color: #666;
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
}

.cbp-filter-item-active {
	color: #d22602;
}

#grid-container {
	margin-bottom: 50px;
}

.w-btn-more-project a {
	width: 150px;
}

.cbp-item h3 {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.single-title {
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 15px;
}

.w-back {
    margin-top: 60px;
}

.w-back a {
    color: #d22602;
    font-weight: 600;
}
/*--------------------- END PROJECTS GALLERY ----------------------*/




/*--------------------- OUR CLIENTS ----------------------*/
.w-title {
	margin-bottom: 50px;
}

.row-gut10 {
	margin: 0 -5px;
}

.row-gut10 .col-xs-4 {
	padding: 0 5px;
	margin-bottom: 30px;
}

.accordion-why-choose-us {
	background: #fff;
	border: 1px solid #ddd;
}

.accordion-why-choose-us .panel {
	border-radius: 0;
	border: 0;
	padding: 0 10px;
}

.accordion-why-choose-us .panel-default>.panel-heading+.panel-collapse>.panel-body {
	border-top: 0;
	border-bottom: 1px solid #ddd;
}

.accordion-why-choose-us .panel-default>.panel-heading {
	background-color: #fff;
	border: 0;
	border-bottom: 1px solid #ddd;
}

.accordion-why-choose-us .panel-default:last-child>.panel-heading {
	border-bottom: 0;
}

.accordion-why-choose-us .panel-heading {
	border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.accordion-why-choose-us .panel+.panel {
	margin-top: 0;
}

.accordion-why-choose-us .panel-title>a {
	text-transform: uppercase;
	display: block;
	font-size: 13px;
	font-weight: 600;
	color: #d22602;
}

.accordion-why-choose-us .panel-title>a:after {
    font-family: 'FontAwesome';
    content: "\f068";
    float: right;
    font-size: 11px;
}

.accordion-why-choose-us .panel-title>a.collapsed:after {    
    content: "\f067";   
}
/*--------------------- END OUR CLIENTS ----------------------*/



/*--------------------- INSPECTION REPORTS ----------------------*/
#inspection-reports h3{
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
}

.line-white {
	border-top: 2px solid #fff;
	width: 50px;
}

.list-inspection-reports {
	margin: 20px 0 0 0;
	color: #fff;
	padding-left: 15px;
}

#inspection-reports .inspection-reports-left {
	-webkit-flex: 1;
	flex: 1;
}

#inspection-reports .inspection-reports-right {
	-webkit-flex: 1;
	flex: 1;
}

.list-pdfs {
	list-style: none;
	padding-left: 30px;
	margin: 0 -15px;
}

.list-pdfs:after {
	display: table;
	content: "";
	clear: both;
}

.list-pdfs li {
	position: relative;
	font-size: 14px;
	float: left;
	width: 50%;
	padding: 0 15px;
	margin-bottom: 40px;
}

.list-pdfs li:before {
	font-family: FontAwesome;
	font-size: 19px;
	content: "\f0da";
	position: absolute;
	left: -15px;
	line-height: 22px;
	color: #d22602;
}

.pdf-icon {
	display: inline-block;
	height: 32px;
	width: 32px;
	background: url(../images/adobe_pdf_icon.png) no-repeat;
	background-size: 100%;
}

.list-pdfs .download {
	padding-left: 15px;
	margin-top: 10px;
}

.list-pdfs .download a {
	color: #d22602;
    margin: 0 10px;
    font-size: 14px;
}
/*--------------------- END INSPECTION REPORTS ----------------------*/



/*--------------------- CONTACT ----------------------*/
.acf-map {
	width: 100%;
	height: 280px;
	border: #ccc solid 1px;
	margin-bottom: 20px;
}

.acf-map img {
   max-width: inherit !important;
}

#contact input[type="submit"] {
	width: 100%;
	background: #d22602;
	color: #fff;
	border: 1px solid #d22602;
	outline: 0;
}

.list-contact {
	list-style-type: none;
	padding-left: 0;
}

.list-contact li {
	margin-bottom: 30px;
}

.list-contact i {
	color: #d22602;
	margin-right: 5px;
	vertical-align: top;
	line-height: 20px;
}

.l-address p {
	display: inline-block;
}

.list-contact li strong {
	margin-bottom: 8px;
	display: block;
}

.list-contact .mailto {
	color: #333;
}
/*--------------------- END CONTACT ----------------------*/



/*--------------------- SIDEBAR ----------------------*/
/*--------------------- END SIDEBAR ----------------------*/



/*--------------------- FOOTER ----------------------*/
.footer-page {
	background-color: #222127;
	color: #fff;
}

.footer-page a {
	color: #fff;
}

.footer-bottom-info {
	background-color: #2d2c32;
	color: #fff;
	text-align: center;
	padding: 12px 0;
	font-size: 10px;
}

.col-icon {
	width: 20px;
}

.col-icon i {
	color: #d22602;
}

.table-keep-in-touch td {
	vertical-align: top;
	padding-bottom: 15px;
}

.table-keep-in-touch p {
	color: #fff;
}

.footer-page .content-sm {
	padding-bottom: 40px;
}

.footer-col {
	padding: 0 15px;
	flex: 1;
}
.isologo {
    display: inline-block;
    margin-right: 10px;
}
/*--------------------- END FOOTER ----------------------*/