@media (max-width: 1199px){
    .left-info span {
        font-size: 12px;
    }
}

@media (max-width: 991px){
    body {
        padding-top: 182px;
    }

    .col-info-left,
    .col-info-right {
        text-align: center;
    }

    .info-top {
        line-height: 40px;
    }

    #our-services .container-flex img {
        width: 100%;
    }

    #inspection-reports .container-flex {
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    #inspection-reports .inspection-reports-left {
        padding: 40px 0 20px 0;
    }

    #inspection-reports .inspection-reports-right {
        padding: 20px 0 40px 0;
    }
}

@media (max-width: 767px){
    body {
        padding-top: 0;
    }

    .admin-bar .navbar-fixed-top {
        margin-top: 0;
    }
	.has-children ul {
        display: block !important;
        margin-left: 15px;
    }

    .navbar-default .navbar-collapse {
        position: absolute;
        padding: 0;
        left: 0;
        margin: 0;
        width: 100%;
        background: #fff;
        border-bottom: 1px solid #ccc;
        z-index: 22;
    }

    .navbar-nav {
        width: 100%;
        margin: 0;
    }

    .navbar-brand {
        padding-left: 15px;
    }

    .navbar-header {
        position: relative;
    }

    .col-info-right {
        text-align: center;
    }

    .btn-search-top {
        display: none;
    }

    #searchform {
        position: initial;
        display: none !important;
    }

    .left-info {
        text-align: center;
    }

    .footer-page .container-flex {
        display: block;
    }

    .footer-col-1 {
        margin-bottom: 30px;
    }

    .table-keep-in-touch td {
        padding-bottom: 10px;
    }
}

@media (max-width: 480px){
    .col-client {
        width: 50%;
    }

    .col-info-right {
        margin-bottom: 15px;
    }

    .info-top {
        line-height: 36px;
    }

    .row-gut10 .col-xs-4 {
        margin-bottom: 10px;
    }

    .list-pdfs li {
        width: 100%;
        float: none;
    }
} 


/*---*/

@media (min-width: 1200px){
}

@media (min-width: 992px){
    
}

@media (min-width: 768px){
    .navbar-nav .caret {
        display: none;
    } 
    /* Delete the above if you wish to display the caret */
    .navbar-nav .open ul {
        display: none;
    }
    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #555;
        background: none;
    }
    .navbar-inverse .navbar-nav > .open > a,
    .navbar-inverse .navbar-nav > .open > a:hover,
    .navbar-inverse .navbar-nav > .open > a:focus {
        color: #969696;
        background: none;
    }
    .navbar-nav .hovernav:hover > .dropdown-menu {
        display: block;
    }


    .dropdown.mega-menu {
        position: static;
    }
    .mega-menu > .dropdown-menu {
        left: 0;
        right: 0;
        overflow-x: auto;
    }
    .mega-menu > ul > li {
        display:table-cell;
    }
    .mega-menu > ul ul {
        position: relative;
        display: block !important;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        padding: 0;
    }
    .has-children {
        border-right: 1px solid #e7e7e7;
    }
    .has-children:last-of-type {
        border-right: 0;
    }

    .navbar>.container .navbar-brand {
        margin-left: 0;
    }
}
